<nav
	class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Qalam logo" class="br0 db mb0 w-100" />
	</a>

	<ul class="flex fl b grey-3">
	</ul>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/categories/kids-world" class="pa3 no-underline db">Kid's World</a></li>
		<li><a href="/categories/current-affairs" class="pa3 no-underline db">Current Affairs</a></li>
		<li><a href="/categories/criticisms" class="pa3 no-underline db">Criticisms</a></li>
		<li><a href="/categories" class="pa3 no-underline db">Categories</a></li>
	</ul>


</nav>
