{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "title" .Title) }}

<div class="mw7 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
      {{ if .Pages }}
        {{ range .Pages }}
            <div class="w-50-ns ph1-ns flex">
              <a href="{{ .Permalink }}" class="no-underline pa3 bg-grey-1 br1 mb2 db raise w-100">
                <h2 class="f3 b lh-title mb1 primary">{{ .Title }}</h2>
              </a>
            </div>
        {{ end }}
      {{ else }}
        <span>Nothing yet!</span>
      {{ end }}
  </ul>
</div>

{{end}}